@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<!--  兩種皆可使用 -->
@*@Html.EditorForModel()*@ 
@Html.EditorFor(m=>m)


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
